/* z-index specifies stack order of an element -1 pushed it to the back */
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.carousel-inner video {
    margin: auto;
    padding-top: 30px;
  } 


/* rule is used in media queries to apply different styles for different media types/devices */
/* aspect-ratio test the aspect ratio of the viewport(area of the computer graphics being currently viewed i.e. screen size)  */

/* 16/9 is a commonly used ratio */
@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

#liveToastBtn{
    color: black;
    font-size: 20px;
}

img{
    width: 20%;
    height: 30%;
}

.toast-body{
    font-family: monospace;
    font-size: 25px;
}

.title {
    text-align: center;
    font-family: fantasy;
    font-size: 80px;
    filter: drop-shadow(3px 3px #333);
    /*gives text a shadow showing at the bottom*/
    /* styles below give text gradient color effect */
    background: linear-gradient(#0df1f1, #1eb979);
    /*gives text "background" a gradient pattern*/
    -webkit-background-clip: text;
    /*defines how far the background should extend within an element*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
}

.joke{
    text-align: center;
    font-family: cursive;
    font-weight: 600;
    font-size: 35px;
    color: salmon;
    -webkit-text-stroke: 2px black;
    
}

.accordion-button:not(.collapsed) {
    font-size: 30px;
    font-weight: 700;
    }

.accordion-button.collapsed {
    background: rgb(50, 56, 50);
    color: rgb(0, 238, 255);
    /* color: rgb(10, 240, 171); */
    font-size: 30px;
    font-weight: 700;
    /* -webkit-text-stroke: 2px black; */
    /* referenced keyframe using word glow in animation effect created smooth loop using alternate*/
    animation: glow 1s ease-in-out infinite alternate;
}
    
/*keyframes specifies animation code,
what is being changed is specified in the from-to*/
@keyframes glow {
    from {
        text-shadow: 0 0 20px #0bebeb;

    }

    to {
        text-shadow: 0 0 30px #0bebeb,
                        0 0 10px #0bebeb;
    }
}

.accordion-collapse {
    background: -webkit-linear-gradient(75deg, #81b1e9, #99284a);
    /* -webkit-text-stroke: 2px black; */
    color: rgb(8, 81, 190);
    font-weight: 100;
    font-size: 32px;
    font-family: fantasy;
}